<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fisioterapia | Reabilitação | Fisioterapia do trabalho | Acupuntura</title>
</head>

<body>

  <div class="content">

          <div class="header">
            <ul>
              <li><a href="#home">Home</a></li>
              <li><a href="#sobre">Sobre</a></li>
              <li><a href="#servico">Serviço</a></li>
              <li><a href="#blog">Blog</a></li>
              <li><a href="#contato">Contato</a></li>
            </ul>
            <!--<img src="../assets/image/massagem.jpg" alt="Massagem fisioterapeitica"> -->
        </div>

        <section id="home">
          <h2>Full pageScrool </h2>
        </section>

        <section id="sobre">
          <h2>Sessão Sobre </h2>
        </section>

        <section id="servico">
          <h2>Sessão de serviço </h2>
        </section>

        <section id="blog">
          <h2>Sessão blog</h2>
        </section>

        <section id="contato">
          <div class="botao">
            <h2>Sessão contato </h2>

          </div>
          
        </section>

  </div>
  
</body>
</html>
