<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
  <title>Fisioterapia | Reabilitação | Fisioterapia do trabalho | Acupuntura</title>
</head>

<body>

  
    <div class="content">

      <div class="toggle">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
        <div class="header">

          
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#sobre">Sobre</a></li>
            <li><a href="#servico">Serviço</a></li>
            <li><a href="#blog">Blog</a></li>
            <li><a href="#contato">Contato</a></li>
          </ul>
              <!--<img src="../assets/image/massagem.jpg" alt="Massagem fisioterapeitica"> -->
        </div>
  

        <section id="home">
          <h2>Full pageScrool </h2>
        </section>

        <section id="sobre">
          <h2>Sessão Sobre </h2>
        </section>

        <section id="servico">
          <h2>Sessão de serviço </h2>
        </section>

        <section id="blog">
          <h2>Sessão blog</h2>
        </section>

        <section id="contato">
         
            <h2>Sessão contato </h2>
        </section>

  </div> <!--Fim do conteudo-->

  <div class="footer">
    A qui vai o footer
  </div>
  
</body>
</html>
