<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fisioterapia | Reabilitação | Fisioterapia do trabalho | Acupuntura</title>
</head>
<body>
  <div class="banner">
    <div class="content">
      <img src="../assets/image/massagem.jpg" alt="Massagem fisioterapeitica">

      <h1> Vem ai, pra você! Um novo conceito em FISIOTERAPIA</h1>
      <h2> Onde você saberá tudo sobre a Profissão</h2>
      <p>Fisioterapia é a ciência que estuda, diagnostica, previne e recupera pacientes com distúrbios cinéticos funcionais intercorrentes em órgãos e sistemas do corpo humano. 
        Trabalha com doenças geradas por alterações genéticas, traumas ou enfermidades adquiridas.

        O objetivo desta área é preservar, manter, desenvolver ou restaurar (reabilitação) a integridade de órgãos, sistemas ou funções. 
        Utiliza-se de conhecimento e recursos próprios como parte do processo terapêutico nas condições psico-físico-social para promover melhoria de qualidade de vida.
        
        Fundamenta ações em mecanismos terapêuticos sistematizados pelos estudos das ciências morfológicas, fisiológicas, patológicas, bioquímica, biofísica, biomecânica, 
        cinesia, sinergia funcional, cinesia patologia de órgãos e sistemas do corpo humano. Além das disciplinas comportamentais e sociais. Fisioterapeuta é o profissional 
        de saúde, devidamente registrado no Conselho Regional de Fisioterapia e Terapia Ocupacional (Crefito-9), com formação acadêmica superior, habilitado para construção do 
        diagnóstico cinesiológico funcional e pode prescrever condutas fisioterapêuticas.</p>

    </div>
  </div>
  
</body>
</html>
