
<div class="container">
  <div class="slidershow middle">

    <div class="slides">

        <input type="radio" name="r" id="r1" checked>
        <input type="radio" name="r" id="r2">
        <input type="radio" name="r" id="r3">
        <input type="radio" name="r" id="r4">
        <input type="radio" name="r" id="r5">
        
        <div class="slide s1">
          <img src="../../assets/image/1111.jpg" alt="">
        </div>

        <div class="slide">
          <img src="../../assets/image/1119.jpg" alt="">
        </div>

        <div class="slide">
          <img src="../../assets/image/lamp-2765969_1920.jpg" alt="">
        </div>

        <div class="slide">
          <img src="../../assets/image/medicine-ball-1575314_1920.jpg" alt="">
        </div>

        <div class="slide">
          <img src="../../assets/image/costas.jpg" alt="">
        </div>

      </div> <!--lides-->

      <div class="navagation">
        <label for="r1" class="bar"></label>
        <label for="r2" class="bar"></label>
        <label for="r3" class="bar"></label>
        <label for="r4" class="bar"></label>
        <label for="r5" class="bar"></label>
      
      </div>
  </div> <!--slidershow middle-->
</div>
  <!-- <ngb-carousel *ngIf="images">

    <ng-template ngbSlide>

      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="Random first slide">
      </div>

      <div class="carousel-caption">
        <h3>Primeira Imagem do Slider Costas</h3>
        <p>Massagem para correção postural. Existem 4 tipos de problema de postura: A hiperlordose, a escoliose, a hipercifose e as costas retificadas.</p>
      </div>

    </ng-template>


    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>Segunda Imagem do Slider maos</h3>
        <p>Nossas mãos também devem começar a receber uma atenção especial, principalmente por haver pontos reflexos que podem promover o alívio de dores não só para as mãos, mas para o corpo todo..</p>
      </div>
    </ng-template>


    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[2]" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>Terceira Imagem do Slider Massagem</h3>
        <p>Há quase 100 tipos diferentes de massagem, segundo a Abramc (Associação Brasileira de Massoterapia Clínica). Seria impossível reunir em um só texto toda essa variedade..</p>
      </div>
    </ng-template>


  </ngb-carousel> -->
