
<header class="head">

    <nav class="menubar"> <!--Alguns chamam de header-->

      <div class="toggle">
        <i class="fa fa-bars menu" aria-hidden="true"></i>
      </div>


      
      
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#sobre">Sobre</a></li>
        <li><a href="#servico">Serviço</a></li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#contato">Contato</a></li>
      </ul>
      <div class="fone"> <i class="fal fa-phone"></i> </div>

      <div class="contato">
        <p>(65)99225-0724   anacristina@orthofisioterapia.com.br</p>
      </div>
    </nav>

    <!-- <a href="#" class="botao">CLIQUE AQUI</a> -->
  </header>

  <div class="containerslider">

    <div class="slider">
      <div class="slide slider1">
          <div class="caption">
            <h2>Atendimentos: Home Care | Domiciliar</h2>
            <!-- <p>
              A fisioterapia ortopédica é uma especialidade da fisioterapia, e tem como foco os cuidados envolvendo distúrbios ósseos e musculares. A especialidade atua na prevenção, no trato e, principalmente, na reabilitação de indivíduos acometidos por fraturas, entorses, contusões musculares, luxações, amputações, dentre outros casos diversos. 
            </p> -->
          </div>
      </div> <!--slide-->
  
      <div class="slide slider2">
        <div class="caption">
          <h2>Atendimento: Exclusivo | Prestativo</h2>
          <!-- <p>
            A osteoporose é uma doença marcada pela degradação estrutural e pela redução da densidade óssea, aumentando significativamente o risco de fraturas. O distúrbio é a principal causa de lesões em idosos. 
Neste caso, a fisioterapia ortopédica é indicada para prevenção de complicações, deformidades e fraturas. A terapia fortalece os ossos, os músculos e as articulações, melhorando a qualidade de vida dos acometidos. 
 
          </p> -->
        </div>
      </div> <!--slide-->
  
      <div class="slide slider3">
          <div class="caption">
            <h2>Experiência | Competência</h2>
            <!-- <p>
              Fala-se em entorse quando há perda momentânea da congruência articular, cápsular ou ligamentar em uma articulação. 
É aconselhável o tratamento fisioterápico em casos de entorse, já que tais práticas possibilitam alívio das dores, fortalecimento muscular e equilíbrio, prevenindo o agramento do quadro e lesões futuras. 
O tratamento geralmente é composto por uma combinação de recursos, que pode incluir terapias manuais, alongamentos e cinésioterapia.
 
            </p> -->
          </div>
      </div> <!--slide-->
  
      <div class="slide slider5">
          <div class="caption">
            <h2>Determinação | Flexibilidade</h2>
            <!-- <p>
              Lombalgia, ou dor na região lombar, é um distúrbio extremamente comum. A maioria da população já passou ou irá passar por um episódio deste tipo de dor. O problema pode ter origem em músculos, nervos ou ossos, e tem intensidade variável, podendo ir de leve a intenso, tornando-se incapacitante.
            </p> -->
          </div>
      </div><!--slide-->
  
      <div class="slide slider5">
        <div class="caption">
          <h2>Confiança | Inspiração</h2>
          <!-- <p>
            Muito confundida com as entorses, as luxações são marcadas pelo deslocamento contínuo ou repentino, parcial ou completo, de um ou mais ossos em uma articulação. Geralmente possui relação com alguma força excessiva sobre a articulação, que empurra o osso para uma posição anormal.  
          </p> -->
        </div>
      </div><!--slide-->
  
    </div> <!--slider-->
  </div> <!--containerslider-->

  



<section class="container">

  <article class="conteudo">
    <h1>Técnicas e recursos utilizados 
      </h1>

    <!-- <p>A fisioterapia ortopédica conta com uma série recursos a sua disposição. O especialista deve avaliar com cautela cada paciente, e partir do seu caso, decidir qual ou quais técnicas devem ser utilizadas. 
      Todo o tratamento é conduzido levando em conta as necessidades e os limites individuais, sempre evitando complicações e priorizando resultados seguros e efetivos.
      Conheça alguns dos principais recursos utilizados.
    </p> -->
  </article>    

  <article class="conteudo">  
    <h2>Avaliação e terapia isocinética</h2>

    <!-- <p>Este tipo de tratamento tem como finalidade quantificar a força, a potência e resistência muscular, comparando os resultados do membro saudável com o membro afetado. 
A terapia é realizada em um aparelho capaz de manter velocidade constante, variando sua resistência. 

    </p> -->
  </article> 

  <article class="conteudo"> 
    <h2>Eletroterapia</h2>

    <!-- <p>A eletroterapia é realizada por meio de, como o próprio nome nos leva a pensar, correntes elétricas. O tratamento é usado para controle da dor e fortalecimento muscular. Além disso, coopera para redução de edemas e acelera a cicatrização. 
    </p> -->

    <p>Modalidades: </p>

    <ul>
      <li>TENS (Transcutaneous Electrical Stimulation)</li>
      <li>Corrente Interferencial</li>
      <li>Terapia Combinada</li>
      <li>Estimulação Elétrica Neuro-Muscular- FES (Functional Electrical Stimulation)</li>
      <li>Corrente Russa</li>

    </ul>
  </article>

  <article class="conteudo"> 
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
      dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </article>

</section>
