

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1, p, a{
    color: #494949;
    font-family: sans-serif ;
    font-size: 12px;
}

.header{
    padding: 0;
    margin: 0;
    width: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
}


.header nav.menubar{
    
    width: 100%;
    background: #137277; /*# 0082e6*/
    position: fixed;
    z-index: 2;
    top: 0;
    overflow: hidden;

}
.toggle{

    width: 100%;
    padding:  10px 20px;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    display: none;
}

nav.menubar ul{
   width: 100%;    /* A linha esta ocupando 80% de largura em relação a nav */
    margin: 0 50px 0 0 ;
    padding: 0;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 18px;
  
}

ul li:hover{
     background: #2f962b; /*e91e63 */
}

ul li a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;

}

/* FIM DI HEADER */


.container{
    margin: 0;
    padding:0;
    background: #34495e;
}

.slidershow{
    width: 1000px;
    height: 740px;
    overflow: hidden;
}

.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.navagation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar{
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}
.bar:hover{
    background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 500%;
    height: 100%;
    display: flex;
}

.slide{
    width: 20%;
    transition: 0.6s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -20%;
}
#r3:checked ~ .s1{
   margin-left: -40%;
}
#r4:checked ~ .s1{
    margin-left: -60%;
}
#r5:checked ~ .s1{
    margin-left: -80%;
}

@media (max-width:768px)
{
    .toggle{
        display: block;
    }
    nav.menubar{
        width: 100%;
    }

    ul 
    {
        width: 100%; /* agora ira ocupar 100% da largura da nav*/
        display: none;
    }

    ul li 
    {
        display: block;
        text-align: center;
    }
    .active
    {
        display: block;
    }

    /* article.conteudo{
        position:inherit;
    } */

    nav.menubar .contato p
    {
        
        display: none;
    }
  
    .containerslider .slider .slide .caption{
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
        padding: 20px; 
        background: rgba(0, 0, 0, .5);
        /* background: rgb(0, 0, 0); */
        
        transition: 0.5s;
        
    }
    
    .containerslider .slider .slide .caption h2{
        margin: 0 0 10px;
        
        font-size: 15px;

        transition: 0.5s;
    }
    .containerslider .slider .slide .caption p{
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 12px;
        transition: 0.5s;
    }
   
}



/* Ctrl + ; (ponto e virgula, comenta a linha  */
