
<header class="head">

    <nav class="menubar"> <!--Alguns chamam de header-->

      <div class="toggle">
        <i class="fa fa-bars menu" aria-hidden="true"></i>
      </div>
      
      <ul>
        <li><a routerLink="/home">{{home}}</a></li>
        <li><a href="#sobre">{{sobre}}</a></li>
        <li><a href="#servico">{{servico}}</a></li>
        <li><a href="#blog">{{blog}}</a></li>
        <li><a routerLink="/contato">{{contato}}</a></li>
        <!-- <li><a href="#numero">{{numero}}</a></li>
        <li *ngIf="exibirConteudo"><a href="#contato">Conteudo oculto</a></li> -->

        <!-- <button (click)="incrementar()">Somar</button>
        <button (click)="toggleConteudo()">Exibir</button> -->
      </ul>

      

      <!-- <div class="pesquisa">
        <form>
          <input type="text" placeholder="Pesquisa ...">
        </form>
      </div>  -->

      <!-- <div class="contato">
        <p>(65)99270-2996   anacristina@orthofisioterapia.com.br</p>
      </div> -->

    </nav>

    <!-- <a href="#" class="botao">CLIQUE AQUI</a> -->
</header>





  

