
h1, p, a{
    color: #494949;
    font-family: sans-serif ;
    font-size: 12px;
}

.head{
    padding: 0;
    margin: 0;
    width: 100%;
}

.head nav.menubar{
    
    width: 100%;
    /* background: #00316b; */
    /* background: rgba(0,49,107, 0.8); */
    background: #137277;
    position: fixed;
    z-index: 2;
    top: 0;
    overflow: hidden;

}
/* nav.menubar .contato{
   
    
} 
 .pesquisa{
    position: absolute;
    left: 86%;
    bottom: 10px;
     bottom: 10px; 
     top: 50%; 
    
     float: right; 
 } 

.pesquisa input{
    border: 1px solid #000;
    padding: 5px;
    border-radius: 4px;
    width: 180px;
    
} 

 nav.menubar .contato{
    color: #fff;
    
    position: absolute;
    left: 80%;
    bottom: 20px;
    
} 

 nav.menubar .contato p{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
     margin: 3px; 
     text-align: center; 
} 

*/

.toggle{

    width: 100%;
    padding:  10px 20px;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    display: none;
}

nav.menubar ul{
   width: 100%;    /* A linha esta ocupando 80% de largura em relação a nav */
    margin: 0 ;
    padding: 0;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 18px;
  
}

ul li:hover{
    background: #e91e63;
}

ul li a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;

}

.botao:hover{
  background-color: rgba(52, 152, 219, 1.0);
  /* background: #137277; */
  box-shadow: 0px 0px 10px gray;
}

/*.fone{
    position: absolute;
    width: 100%;
     padding:  10px 20px; 
    float: left;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    display: none; 
}*/



.containerslider{
    
    /* padding: 80px 50px 0 50px; */
    font-family: sans-serif;

    position: relative;  /* Alterado 290420*/
     /* Não posso pois desconfigura o meu menu*/

     overflow: hidden;
     width: 100%;
     height: 100vh; 
     box-sizing: border-box;
}

 .containerslider .slider{
    position: absolute;
    top: 0;  
    left: 0; 
    /* padding: 5px; */
    width: 500%;
    height: 100%;
    animation: animate 10s linear infinite ;
    float: left;
} 

.containerslider .slider .slide{
    position:relative;
    width: 20%;
    height: 100%;
    float: left;
}
.containerslider .slider .slide .caption{
    position: absolute;
    bottom: 60px;
    left: 60px;
    right: 60px;
    padding: 30px; 
    background: rgba(0, 0, 0, .5);
    /* background: rgb(0, 0, 0); */
    
}

.containerslider .slider .slide .caption h2{
    margin: 0 0 20px;
    padding: 0;
    color: #fff;
    font-size: 18px;
}
.containerslider .slider .slide .caption p{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 12px;
}

.containerslider .slider .slide.slider1{
 background: url(../../assets/image/costas.jpg);
 background-size: cover;
 background-position: center;
}

.containerslider .slider .slide.slider2{
    background: url(../../assets/image/maos.jpg);
    background-size: cover;
    background-position: center;
   }
   

.containerslider .slider .slide.slider3{
    background: url(../../assets/image/massagem.jpg);
    background-size: cover;
    background-position: center;
   }

.containerslider .slider .slide.slider4{
    background: url(../../assets/image/pes.jpg);
    background-size: cover;
    background-position: center;
   }

.containerslider .slider .slide.slider5{
    background: url(../../assets/image/pesos.jpg);
    background-size: cover;
    background-position: center;
   }

   @keyframes animate
   {
       0% {  left: 0;  }

       10%{ left: 0;  }

       20% { left: -100%; }

       30% { left: -100%;  }

       40% { left: -200%; }

       50% { left: -200%; }

       60% { left: -300%; }

       70% { left: -300%; }

       80%  {left: -400%; }

       90%   {left: -400%;}

      100%   {left: -400%;}

      120% {left: 400%;}  
   }



.artigocontainer .conteudo{
    /* position: relative; */
    /* background-color: grey; */
    box-sizing: border-box;
    text-align: center;
    padding: 20px 60px;
    top: 300px;
    /* margin-left: 20%; */
    
    width: 90%;

}

.artigocontainer .conteudo p{
    text-align: center;
}



.cardcontainer
{
    position: relative;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cardcontainer .card
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;  
    margin: 100px 0;
}


.cardcontainer .card .imgBx
{
    position: relative;
    left: 25px;
    width: 500px;
    height: 400px;
    z-index: 1;
}

.cardcontainer .card .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardcontainer .card .contentBx
{
    position: relative;
    right: 25px;
    width: 500px;
    height: 400px;
    background:#000 ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px 20px 100px;

}

.cardcontainer .card .contentBx::before
{
    content: '';
    position: absolute;
    top: -50px;
    bottom: -50px;
    left: 0;
    right: 0;
    background: #000;
    z-index: -1;


}

.cardcontainer .card .contentBx h2{
    font-size: 30px;
    color: #fff;
}

.cardcontainer .card .contentBx p{
    margin-top: 10px;
    color: #fff;
}

.cardcontainer .card .contentBx a{
   display: inline-block;
   margin-top: 15px;
   color: #fff;
   text-decoration: none;
   padding: 10px;
   border: 1px solid #fff;


} 

/* footer{
    background-color: black;
    height: 70px;
    margin-top: 80px;
    padding: 10px 60px;
    box-sizing: border-box;
    width: 90%;

} */

@media (max-width:768px)
{
    .toggle{
        display: block;
    }
    nav.menubar{
        width: 100%;
    }

    ul 
    {
        width: 100%; /* agora ira ocupar 100% da largura da nav*/
        display: none;
    }

    ul li 
    {
        display: block;
        text-align: center;
    }
    .active
    {
        display: block;
    }

    article.conteudo{
        position:inherit;
    }

    nav.menubar .contato p
    {
        
        display: none;
    }
  
    .containerslider .slider .slide .caption{
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
        padding: 20px; 
        background: rgba(0, 0, 0, .5);
        /* background: rgb(0, 0, 0); */
        
        transition: 0.5s;
        
    }
    
    .containerslider .slider .slide .caption h2{
        margin: 0 0 10px;
        
        font-size: 15px;

        transition: 0.5s;
    }
    .containerslider .slider .slide .caption p{
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 12px;
        transition: 0.5s;
    }
   
}



/* Ctrl + ; (ponto e virgula, comenta a linha  */
